<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <main>
            <h2>{{ name }}</h2> 
            <ul>
                <li>Age: {{ age }}</li>
                <li>Is Fun: {{ isFun }}</li> 
            </ul>
        </main>
    </body>
</html>
